<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CrossbrowserSuite" parallel="tests">
	<listeners>
		<listener class-name="utilities.ExtentReportManager"></listener>
		
	</listeners>
  <test thread-count="5" name="ChromeTest">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="testCase.TC_001_AccountRegistration"/>
    </classes>
  </test> <!-- parallelTest -->
  
  
  <test thread-count="5" name="EdgeTest">
  <parameter name="browser" value="edge"></parameter>
    <classes>
      <class name="testCase.TC_001_AccountRegistration"/>
    </classes>
  </test> <!-- parallelTest -->
</suite> <!-- CrossbrowserSuite -->
